.title {
  text-align: center;
  font-size: 7rem;
  color: var(--main-text-color);
}

.sub_header {
    text-align: center;
    font-size: 2rem;
    font-weight: 100;
    color: var(--main-text-color);
}

.hero {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  height: 100vh;
}
