:root {
  --main-light-blue: rgb(72, 210, 245);
  --main-text-color: rgb(255, 255, 255);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: "Poppins", sans-serif;
  background-color: rgb(20, 20, 20);
}

body {
  padding: 1rem 2rem;
}

::selection {
  background-color: rgb(230, 120, 162);
}
